grant {
      permission java.io.FilePermission "C:\\Users\\ifc\\git\\ProgramacionPS\\Unidad_05_Seguridad\\P01_Seguridad_en_Java\\Ficheros\\*", "read, write";
};